
<%= form_with model: post, local: true do |f| %>
      <div class="form-group row mt-5">
        <!--画像があったら-->
        <% if @post.images.attached? %>
          <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
          <div style="display: flex; flex-wrap: wrap; width: 750px;">
            <% @post.images.each do |image| %>
              <div style="display: flex; margin:5px 5px 5px 0;">
                <%= f.check_box :image_ids, { multiple: true }, image.id, false %>
                <label form="user_image_ids_<%= image.id %>" >
                  <%= image_tag image, size: '300x200' %>
                </label>
              </div>
             <% end %>
          </div>
        <% end %>
        <!--画像登録-->
        <%= f.label :images, "投稿画像", class: "col-4 col-form-label" %>
        <%= f.file_field :images, accept: "image/*", multiple: true, class: "image-item" %>
      </div>
      <div class="form-group row">
        <%= f.label :shop_name, "お店の名前", class: "col-4 col-form-label" %>
        <%= f.text_field :shop_name, class: "col-7 form-control", placeholder: "店舗名" %>
      </div>
      <div class="form-group row">
        <%= f.label :shop_introduction, "お店の紹介文", class: "col-4 col-form-label" %>
        <%= f.text_area :shop_introduction, class: "col-7 form-control", placeholder: "ここに紹介したいことを入力してください。" %>
      </div>
      <div class="form-group row">
        <!--<label>タグ(,で区切ると複数タグ登録できます)</label>-->
        <%= f.label :name, "タグ(,で区切ると複数タグ登録できます)", class: "col-4 col-form-label" %>
        <%= f.text_field :name,value: tag_list, class: 'col-7 form-control' %>
      </div>
      <div class="form-group row">
        <%= f.label :shop_postal_code, "お店の郵便番号(ハイフンなし）", class: "col-4 col-form-label" %>
        <%= f.text_field :shop_postal_code, class: "col-7 form-control", placeholder: "0000000"%>
      </div>
      <div class="form-group row">
        <!--郵便番号からの自動入力にする-->
        <%= f.label :shop_address, "お店の住所", class: "col-4 col-form-label" %>
        <%= f.text_field :shop_address, class: "col-7 form-control", placeholder: "鹿児島県鹿児島市中央町1-1" %>
      </div>
      <!--曜日選択-->
      <div class="form-group row">
        <%= f.label :stay_weekday, "お店を利用した曜日", class: "col-4 col-form-label" %>
        <%= f.select :stay_weekday, Post.stay_weekdays_i18n.invert, {},{class: "form-select", include_blank: "選択してください"} %>
      </div>
      <!--時間帯-->
      <div class="form-group row">
        <!--選択式にする？-->
        <%= f.label :stay_time, "お店を利用した時間帯", class: "col-4 col-form-label" %>
        <%= f.text_field :stay_time_start, class: "col-3 form-control", placeholder: "11:00" %>
        <%= f.text_field :stay_time_end, class: "col-3 form-control", placeholder: "14:00" %>
      </div>
      <!--混み具合選択-->
      <div class="form-group row">
        <%= f.label :congestion_degree, "お店の混み具合", class: "col-4 col-form-label" %>
        <%= f.select :congestion_degree, Post.congestion_degrees_i18n.invert, {},{class: "form-select", include_blank: "選択してください"} %>
      </div>

    <div class="form-group text-center">
      <% if request.path_info == new_post_path %>
        <%= f.submit "新規投稿", class: "btn btn-success px-4 py-2" %>
      <% else %>
        <%= f.submit "変更を保存", class: "btn btn-success px-4 py-2" %>
      <% end %>
    </div>
  <% end %>