
<% posts.each do |post| %>
  <div class="col-3">
    <!--投稿者-->
    <div class="mt-1">
      <%= link_to user_path(post.user.id) do %>
        <%= image_tag post.user.get_profile_image, size: "50x50", class: "mb-2 rounded-circle user-icon" %>
      
        <%= post.user.name %>
      
      <% end %>
    </div>
    <!--投稿内容-->
    <%= link_to post_path(post.id) ,style: "color: black;" do %>
      <% if post.images.attached? %>
        <%= image_tag post.images[0], class: "rounded",size:"150x100", class: "rounded-bottom" %>
      <% else %>
        <%= image_tag('no_image.jpg', size: '150x100') %>
      <% end %>
      <p><%= post.shop_name %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= post.shop_address %></p>
      <p id="favorite_buttons_<%= post.id %>" >
        <%= render "favorites/favorite", post: post %>
      </p>
      <p><i class="far fa-comment-dots"></i></i><%= post.post_comments.count %></p>
    <% end %>

  </div>
<% end %>

