
<% posts.each do |post| %>
  <div class="col-3">
    <!--投稿者-->
    <%= link_to user_path(post.user.id) do %>
      <%= image_tag post.user.get_profile_image(40,40), class:"mt-3 rounded-circle"; %>
      <%= post.user.name %>
    <% end %>
    <!--投稿内容-->
    <%= link_to post_path(post.id) ,style: "color: black;" do %>
      <%= image_tag post.images[0], class: "rounded",size:"150x100", class: "rounded-bottom" %>
      <p><%= post.shop_name %></p>
      <p><i class="fas fa-map-marker-alt"></i><%= post.shop_address %></p>
      <p id="favorite_buttons_<%= post.id %>" >
        <%= render "favorites/favorite", post: post %>
      </p>
      <p><i class="far fa-comment-dots"></i></i><%= post.post_comments.count %></p>
    <% end %>
    
  </div>
<% end %>

      