<div class="container mt-5 pb-5">
  <div class="form-group">
    
    <h2 class="mb-3 ml-5 text-center">投稿詳細</h2>
    
    <div class="row mt-5 mb-5">
      
      <div class="col-lg-7">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <%= image_tag image.variant(resize: '300x300') %>
          <% end %>
        <% end %>
        
        <div id="favorite_buttons_<%= @post.id %>" >
          <%= render "favorites/favorite", post: @post %>
        </div>
        
        <div class="pt-3">
          <%= link_to user_path(@post.user.id) ,style: "color: black;" do %>
      　     <%= image_tag @post.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
            <p>
              このお店を紹介した人<br>
              <%= @post.user.name %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="col-lg-5 ">
        <table class="table mx-auto">
          <tbody>
            <tr>
              <td>お店の名前</td>
              <td><%= @post.shop_name %></td>
            </tr>

            <tr>
              <td>お店の紹介文</td>
              <td><%= @post.shop_introduction %></td>
            </tr>
    
            <tr>
              <td>タグ</td>
              <td>
                <% @post_shop_tags.each do |tag| %>
                  <i class="fa-sharp fa-solid fa-tag"></i>
                  <%= link_to tag.name,search_tag_path(shop_tag_id: tag.id) %>
                <% end %>
               </td>
            </tr>

            <tr>
              <td>お店の郵便番号</td>
              <td><%= @post.shop_postal_code %></td>
            </tr>

            <tr>
              <td>お店の住所</td>
              <td><%= @post.shop_address %></td>
            </tr>

            <tr>
              <td>お店を利用した曜日</td>
              <td><%= @post.stay_weekday_i18n %></td>
            </tr>

            <tr>
              <td>お店を利用した時間帯</td>
              <td><%= @post.stay_time_start %>時〜<%= @post.stay_time_end %>時ごろ</td>
            </tr>

            <tr>
              <td>お店の混み具合</td>
              <td><%= @post.congestion_degree_i18n %></td>
            </tr>

          </tbody>
        </table>
      </div>
      
    </div>
    
    <!--ボタン-->
    <div>
      <!--ログインしているか？-->
      <%# if user_signed_in? %>
        <!--投稿者本人だったら-->
        <% if @post.user == current_user %>
          <div class="text-center">
            <%= link_to "編集する", edit_post_path, class: "btn btn-primary mt-3 ml-5 px-4 py-2" %>
            <%= link_to "削除する", post_path(@post), method: :delete, class: "btn btn-danger mt-3 ml-5 px-4 py-2" %>
          </div>

        <!--管理者だったら-->
        <% elsif current_user == @user || current_user.admin? %>
          <div class="text-center">
            <%= link_to "投稿削除(管理者用）", post_path(@post), method: :delete, class: "btn btn-warning mt-3 ml-5 px-4 py-2" %>
          </div>
        <% end %>
      <%# end %>
    </div>
    
    <!--コメント一覧-->
    <div id="comments_area">
      <%= render 'post_comments/comments', post: @post %>
    </div>
    <!--コメントフォーム-->
    <div class="mt-3">
      <%= render "post_comments/form", post: @post, post_comment: @post_comment %>
    </div>

  </div>
</div>