<header>
  <nav class="navbar navbar-expand-lg shadow">
    <div class="container mx-auto">
      <a class="navbar-brand " href="/"><%= image_tag('logo.png', size: '150x120') %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto row">
        <!--ログイン表記-->
        <div class="login-name mx-auto text-success">
          <% if user_signed_in? && current_user.admin? %>
            <p>管理者ログイン中</p>
          <% elsif user_signed_in? %>
            <p>ようこそ <%= current_user.name %>さん！</p>
          <% end %>
        </div>

        <ul class="nav navbar-nav">
          <% if user_signed_in? %><!--ユーザーがログインしているとき-->
          <li>
            <%= link_to about_path,class: 'nav-link text-secondary' do %>
              <i class="fas fa-exclamation-circle"></i>
              About
            <% end %>
          </li>

          <li>
            <%= link_to new_post_path, class: 'nav-link text-secondary',data: {"turbolinks"=>false} do %>
            <!--turbolinksを適用させない-->
              <i class="fas fa-paper-plane"></i>
              投稿する
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: 'nav-link text-secondary' do %>
              <i class="fas fa-list-ul"></i>
              投稿一覧
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user), class: 'nav-link text-secondary' do %>
              <i class="fas fa-user-circle"></i>
              マイページ
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-secondary' do %>
              <i class="fas fa-sign-out-alt"></i>
              ログアウト
            <% end %>
          </li>

          <li class="ml-3">
            <%= render 'layouts/search_form' %>
          </li>

           <% else %>  <!--ログインしていないとき-->

          <li>
            <%= link_to about_path,class: 'nav-link text-secondary' do %>
              <i class="fas fa-exclamation-circle"></i>
               About
            <% end %>
          </li>

          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-secondary' do %>
              <i class="fas fa-user-plus"></i>
               新規登録
            <% end %>
          </li>

          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-secondary' do %>
              <i class="fas fa-sign-in-alt"></i>
              ログイン
            <% end %>
          </li>

          <li>
            <%= link_to users_guest_sign_in_path, class: "nav-link text-secondary sign_in", method: :post do %>
              <i class="fa-solid fa-user-tie"></i>
              ゲストログイン<br>（ 閲覧用 ）
            <% end %>
          </li>

          <li class="ml-3">
            <%= render 'layouts/search_form' %>
          </li>

        <% end %>
        </ul>
      </ul>
    </div>
    </div>
  </nav>
</header>